<div class="grid ernani-h-100">
    <div
        class="col-6 flex align-items-center justify-content-center"
        style="background-color: #283593">
        <!-- texto 1 -->
        <div class="card">
            <img src="assets/icons/jmercao_logo_256x256.png" />
            <div class="flex justify-content-center">
                <label class="text-white text-7xl relative logo-font-family">
                    jMercado
                    <label
                        class="text-white text-xs absolute bottom-0 right-0 flex justify-content-end">
                        <span class="text-pink-600 mr-1">by</span>Ernani Lima
                    </label>
                </label>
            </div>
        </div>
    </div>

    <!-- MEIO -->

    <div class="col-6">
        <!-- texto 2 -->
        <div class="col-12 ernani-h-100">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
