<div
    class="fixed right-0 p-2 m-2 border-round text-xs scalein animation-linear animation-duration-200"
    [ngClass]="connectionOk ? 'bg-green-100 text-green-800' : 'bg-yellow-100 text-yellow-800'"
    *ngIf="showStatus">
    {{ textConnection }}
</div>
<div class="grid ernani-h-100">
    <div
        class="col-6 flex align-items-center justify-content-center"
        style="background-color: #283593">
        <!-- texto 1 -->
        <div class="card">
            <img src="assets/icons/jmercao_logo_256x256.png" />
            <div class="flex justify-content-center">
                <label class="text-white text-7xl relative logo-font-family">
                    jMercado
                    <label
                        class="text-white text-xs absolute bottom-0 right-0 flex justify-content-end">
                        <span class="text-pink-600 mr-1">by</span>Ernani Lima
                    </label>
                </label>
            </div>
        </div>
    </div>

    <!-- MEIO -->

    <div class="col-6">
        <!-- texto 2 -->
        <div class="ernani-h-100 m-auto flex lg:col-9 xl:col-6">
            <div class="mt-auto mb-auto flex-auto">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>
