<app-loading [display]="loadingVisible"></app-loading>

<form [formGroup]="form" autocomplete="off" (ngSubmit)="registerCompany()">
    <h5>Dados da Empresa</h5>
    <div class="grid p-fluid">
        <div class="col-12 md:col-6">
            <div class="p-float-label">
                <input
                    pInputText
                    type="text"
                    formControlName="companyName"
                    [value]="form.get('companyName')?.value | titlecase" />
                <label>Razão social</label>
            </div>
            <small class="p-error" *ngIf="validateField('companyName')">
                {{ getErrorMessage('companyName') }}
            </small>
        </div>
        <div class="col-12 md:col-6">
            <div class="p-float-label">
                <input
                    pInputText
                    type="text"
                    formControlName="tradingName"
                    [value]="form.get('tradingName')?.value | titlecase" />
                <label>Nome Fantasia</label>
            </div>
            <small class="p-error" *ngIf="validateField('tradingName')">
                {{ getErrorMessage('tradingName') }}
            </small>
        </div>
        <div class="col-12 md:col-6">
            <span class="p-float-label">
                <p-inputMask
                    mask="99.999.999.9999-99"
                    [autoClear]="false"
                    [unmask]="true"
                    formControlName="ein"></p-inputMask>
                <label>CNPJ</label>
            </span>
            <small class="p-error" *ngIf="validateField('ein')">
                {{ getErrorMessage('ein') }}
            </small>
        </div>
        <div class="col-12 md:col-6">
            <div class="p-float-label">
                <input pInputText type="text" formControlName="email" />
                <label>E-mail</label>
            </div>
            <small class="p-error" *ngIf="validateField('email')">
                {{ getErrorMessage('email') }}
            </small>
        </div>

        <div class="col-12 md:col-6" formGroupName="telephone">
            <div class="p-float-label">
                <p-inputMask
                    mask="(99) 9999-9999"
                    [autoClear]="false"
                    [unmask]="true"
                    formControlName="telephone"></p-inputMask>
                <label>Telefone</label>
            </div>
            <small class="p-error" *ngIf="validateField('telephone.telephone')">
                {{ getErrorMessage('telephone.telephone') }}
            </small>
        </div>
        <div class="col-12 md:col-6" formGroupName="telephone">
            <div class="p-inputgroup">
                <div class="p-float-label">
                    <p-inputMask
                        class="p-float-label ernani-inputgroup-inputmask"
                        mask="(99) 9 9999-9999"
                        [autoClear]="false"
                        [unmask]="true"
                        formControlName="cellPhone"></p-inputMask>
                    <label>Celular</label>
                </div>
                <span class="p-inputgroup-addon ernani-inputgroup-inputmask-addon">
                    <p-checkbox
                        binary="true"
                        [formControl]="this.form.controls['telephone'].get('whatsappCellPhone')">
                    </p-checkbox>
                </span>
                <span class="p-inputgroup-addon ernani-inputgroup-inputmask-addon">
                    <i class="pi pi-whatsapp" style="line-height: 1.25"></i>
                </span>
            </div>
            <small class="p-error" *ngIf="validateField('telephone.cellPhone')">
                {{ getErrorMessage('telephone.cellPhone') }}
            </small>
        </div>
    </div>

    <h5>Endereço</h5>
    <div class="grid p-fluid" formGroupName="address">
        <div class="col-12 md:col-6">
            <span class="p-float-label">
                <p-inputMask
                    mask="99999-999"
                    [autoClear]="false"
                    [unmask]="true"
                    formControlName="zipCode"></p-inputMask>
                <label>CEP</label>
            </span>
            <small class="p-error" *ngIf="validateField('address.zipCode')">
                {{ getErrorMessage('address.zipCode') }}
            </small>
        </div>
        <div class="col-12 md:col-6">
            <div class="p-float-label">
                <p-dropdown
                    [options]="countries"
                    [autoDisplayFirst]="false"
                    [showClear]="true"
                    optionLabel="description"
                    optionValue="code"
                    formControlName="country"></p-dropdown>
                <label>País</label>
            </div>
            <small class="p-error" *ngIf="validateField('address.country')">
                {{ getErrorMessage('address.country') }}
            </small>
        </div>
        <div class="col-12 md:col-6">
            <div class="p-float-label">
                <p-dropdown
                    [options]="states"
                    [autoDisplayFirst]="false"
                    [showClear]="true"
                    optionLabel="description"
                    optionValue="code"
                    formControlName="state"></p-dropdown>
                <label>Estado</label>
            </div>
            <small class="p-error" *ngIf="validateField('address.state')">
                {{ getErrorMessage('address.state') }}
            </small>
        </div>
        <div class="col-12 md:col-6">
            <div class="p-float-label">
                <p-dropdown
                    [options]="cities"
                    [autoDisplayFirst]="false"
                    [showClear]="true"
                    optionLabel="description"
                    optionValue="code"
                    formControlName="city"></p-dropdown>
                <label>Cidade</label>
            </div>
            <small class="p-error" *ngIf="validateField('address.city')">
                {{ getErrorMessage('address.city') }}
            </small>
        </div>
        <div class="col-12 md:col-6">
            <div class="p-float-label">
                <input
                    pInputText
                    type="text"
                    formControlName="district"
                    [value]="form.get('address.district')?.value | titlecase" />
                <label>Bairro</label>
            </div>
            <small class="p-error" *ngIf="validateField('address.district')">
                {{ getErrorMessage('address.district') }}
            </small>
        </div>
        <div class="col-12 md:col-6">
            <div class="p-float-label">
                <input
                    pInputText
                    type="text"
                    formControlName="street"
                    [value]="form.get('address.street')?.value | titlecase" />
                <label>Logradouro</label>
            </div>
            <small class="p-error" *ngIf="validateField('address.street')">
                {{ getErrorMessage('address.street') }}
            </small>
        </div>
        <div class="col-12 md:col-6">
            <div class="p-float-label">
                <input
                    pInputText
                    type="text"
                    formControlName="number"
                    [value]="form.get('address.number')?.value | titlecase" />
                <label>Número</label>
            </div>
            <small class="p-error" *ngIf="validateField('address.number')">
                {{ getErrorMessage('address.number') }}
            </small>
        </div>
        <div class="col-12 md:col-6">
            <div class="p-float-label">
                <input
                    pInputText
                    type="text"
                    formControlName="complement"
                    [value]="form.get('address.complement')?.value | titlecase" />
                <label>Complemeto</label>
            </div>
        </div>
    </div>

    <h5>Usuário principal</h5>
    <div class="grid p-fluid" formGroupName="user">
        <div class="col-12 md:col-6">
            <div class="p-float-label">
                <input
                    pInputText
                    type="text"
                    formControlName="name"
                    [value]="form.get('user.name')?.value | titlecase" />
                <label>Nome</label>
            </div>
            <small class="p-error" *ngIf="validateField('user.name')">
                {{ getErrorMessage('user.name') }}
            </small>
        </div>
        <div class="col-12 md:col-6">
            <div class="p-float-label">
                <input pInputText type="text" formControlName="email" />
                <label>E-mail</label>
            </div>
            <small class="p-error" *ngIf="validateField('user.email')">
                {{ getErrorMessage('user.email') }}
            </small>
        </div>
        <div class="col-12 md:col-6">
            <div class="p-float-label">
                <p-password
                    [feedback]="false"
                    formControlName="password"
                    [toggleMask]="form.get('user.password')!.touched"></p-password>
                <label>Senha</label>
            </div>
            <small class="p-error" *ngIf="validateField('user.password')">
                {{ getErrorMessage('user.password') }}
            </small>
        </div>
        <div class="col-12 md:col-6">
            <div class="p-float-label">
                <p-password
                    [feedback]="false"
                    formControlName="password2"
                    [toggleMask]="form.get('user.password2')!.touched"></p-password>
                <label>Repetir a Senha</label>
            </div>
            <small class="p-error" *ngIf="validateField('user.password2')">
                {{ getErrorMessage('user.password2') }}
            </small>
        </div>
    </div>

    <div class="ernani-dialog-footer col-12 border-round-bottom">
        <button
            pButton
            pRipple
            type="button"
            label="Primary"
            class="p-button-text"
            label="Cadastrar"
            (click)="registerCompany()"></button>
    </div>
</form>
