<p-card class="mt-auto mb-auto flex-auto">
    <ng-template pTemplate="title">
        <small>Login Do Usuário</small>
    </ng-template>
    <form
        [formGroup]="form"
        id="form-login"
        autocomplete="off"
        (ngSubmit)="login()"
        class="p-fluid">
        <div class="mb-3">
            <span class="p-float-label">
                <p-inputMask
                    formControlName="companyEin"
                    mask="99.999.999.9999-99"
                    [autoClear]="false"
                    [unmask]="true"></p-inputMask>
                <label>CNPJ da Empresa</label>
            </span>
            <small class="p-error" *ngIf="validateField('companyEin')">
                {{ getErrorMessage('companyEin') }}
            </small>
        </div>

        <div class="mb-3">
            <div class="p-float-label">
                <input pInputText formControlName="email" type="text" />
                <label>E-mail do Usuário</label>
            </div>
            <small class="p-error" *ngIf="validateField('email')">
                {{ getErrorMessage('email') }}
            </small>
        </div>

        <div class="mb-3">
            <div class="p-float-label">
                <p-password
                    formControlName="password"
                    [feedback]="false"
                    [toggleMask]="form.get('password')!.touched"></p-password>
                <label>Senha do Usuário</label>
            </div>
            <small class="p-error" *ngIf="validateField('password')">
                {{ getErrorMessage('password') }}
            </small>
        </div>
        <button
            pButton
            type="submit"
            form="form-login"
            class="btn btn-primary"
            label="Login"></button>
    </form>
    <ng-template pTemplate="footer">
        <p-divider align="center">
            <b>Ou</b>
        </p-divider>
        <div class="flex justify-content-center">
            <button
                pButton
                type="button"
                (click)="registerCompany()"
                class="p-button-link p-button-sm"
                label="Cadastrar uma Empresa"></button>
        </div>
    </ng-template>
</p-card>
