/* seria o mesmo que adicionar no arquivo 'angular.json' */
@import '~primeicons/primeicons.css';
@import '~primeng/resources/themes/mdc-light-indigo/theme.css';
@import '~primeng/resources/primeng.min.css';
@import '~primeflex/primeflex.css';

html,
body {
    height: 100%;
    background-color: var(--surface-a);
    font-family: var(--font-family);
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
